services:
    app:
        hostname: dc
        ports:
            - 5173:5173
        build:
            context: .
            dockerfile: Dockerfile
        command: sleep infinity
        env_file:
            - .env
        volumes:
            - ../..:/workspaces:cached
            - .zshrc:/root/.zshrc:cached
            - ~/.config:/root/.config:cached
            - ~/.ssh:/root/.ssh:cached
